<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Blog</title>
  <%- include('./partials/head')%>
</head>
<body>
  <%- include('./partials/nav')%>
  <div class="container mt-3">
    <form action="/blog" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="coverImage" class="form-label">Cover Image</label>
        <input type="file" class="form-control" id="coverImage" name="coverImage" name="coverImage" aria-describedby="coverImage">
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" aria-describedby="title">
      </div>
      <label for="body">Body</label>
      <div class="body">

        <textarea class="form-control" placeholder="Write Your Content Here" id="body" style="height: 100px" name="body"></textarea>
      </div>
      <div>
        <button class="btn btn-primary mt-3">Submit</button>
      </div>

  </div>
  <%- include('./partials/scripts')%>
</body>
</html>